Release/
Release_LLVM/
Release_LLVM_tuned/
Release_LLVM_full/
Release_LLVM_codesize/
Debug/
Debug_LLVM/
Native/
Debug_LLVM_O2_noinline/
Release_LLVM_O0/
Release_LLVM_O1/
Release_LLVM_O2/
Release_LLVM_O2_noinline/
Release_LLVM_O3/
Release_LLVM_Oz/
Release_LLVM_Ofast/
Release_LLVM_O2_noinline/
transcript
ISS_RPC_SERVER_PORT
/trv32p3_testcases/
DVEfiles/
inter.vpd
appname.cfg
rcdname.cfg
novas.conf
verdiLog/
ucli.key
*.prxui
chesswork/
*.mem
*.prf
*.rcd
*.#
*.##
*.calltree
*.cmic2
*.cmico
*.cycle_count
*.ipr
*.sdr
*.srv
*.o
*.o.lst
*.map