*/build_pct.tcl
*/import_pct.tcl
*/cwr/
*/export/
*/work/
*/trv32p3_sc.prx
*/trv32p3_sc_systemc.c
*/trv32p3_sc_systemc.h
*/trv32p3_sc_systemc.xml
*/trv32p3_sc_testbench.c
*/trv32p3_sc_testbench.h
*/libtrv32p3_sc.a
*/work/